.PageTitle{
	text-align: center;
	border-color: black;
	border: 30px;
	border-radius: 20px;
	font-family: 'Roboto', sans-serif;
}
head{
	background-color: white;
}
body{
	background-color: white;



}
.TitleDesc{
	text-align: center;

}
.PageButton{
	border-radius: 20px;
	border color: white;
	box-shadow: black;
}
.NewStories{
	align-self: right;
}
.Articles{

}
.SignInTitle{
	text-align: center;
	font-family: 'Roboto', sans-serif;
}
.Stry1Img{
	width: 20%;
	height: 20%;
}
h2{
	text-align: center;
	font-family: 'Roboto', sans-serif;
}
.SignInBox{
	border-width: 30px;
	border-radius: 20px;
	border color: black;
}
p{
	text-align: center;
	font-family: 'Roboto', sans-serif;
}
form{
	align-items: center;
}
.CoverImage{
	width: 50%;
	height: 50%;
	border-radius: 20px;
}
.StryCoverImg{
	border-radius: 20px;
	height: 40%;
	width: 40%;
}
h1{text-align: center;
font-family: 'Roboto', sans-serif;}
.ArticleBox{
	width: 100%;
	height: 100%;
}
.RefImg{
	width: 30%;
	height: 30%;
	border-radius: 20px;
}
h4{
	font-family: 'Roboto', sans-serif;
}
iframe{
	border-radius: 20px;
}
.WriterImg{
	border-radius:100px ;
	width:2% ;
	Height:4% ;
}
.SocialBton{
height:30% ;
width:10% ;
border-radius:20px ;
background-color:white ;
border-color:white ;
}
.SocialBtonImg{
height:20% ;
width:20% ;
}
.BottomBar{
background-color:darkslategray ;
width:100% ;
height:100% ;
}
.DescText{
text-color:white ;
}